@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/bootstrap";

// Color variables

$main-dark-gray: #212121;
$main-yellow: #e9ad35;
$main-gray-font: #cfcfcf;

// Colour classes

.yellow-colour {
  background: #e9ad35;
}

.gray-color {
  background: $main-dark-gray;
}

.dark-gray-font {
  color: $main-dark-gray;
}

// Body styles

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

* {
  font-family: "Roboto Mono", monospace;
  color: $main-gray-font;
}

// Font size variables

$custom-fs-0-75rem: 0.75rem;
$custom-fs-1-25rem: 1.25rem;
$custom-fs-1-5rem: 1.5rem;
$custom-fs-2rem: 2rem;
$custom-fs-3rem: 3rem;
$custom-fs-3-25rem: 3.25rem;

// Non-responsive font classes

.fs-1-25rem {
  font-size: $custom-fs-1-25rem;
}

.fs-1-5rem {
  font-size: $custom-fs-1-5rem;
}

// Responsive font classes

.fs-0-75rem-to-1rem {
  font-size: $custom-fs-0-75rem;

  @include media-breakpoint-up("md") {
    font-size: 1rem;
  }
}

.fs-0-75rem-to-1rem-lg {
  font-size: $custom-fs-0-75rem;

  @include media-breakpoint-up("lg") {
    font-size: 1rem;
  }
}

.fs-0-75rem-to-1-25rem {
  font-size: $custom-fs-0-75rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-1-25rem;
  }
}

.fs-1rem-to-1-25rem {
  font-size: 1rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-1-25rem;
  }
}

.fs-1rem-to-1-5rem {
  font-size: 1rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-1-5rem;
  }
}

.fs-1-5rem-to-2rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-2rem;
  }
}

.fs-1-25rem-to-3-25rem {
  font-size: $custom-fs-1-25rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-3-25rem;
  }
}

.fs-1-5rem-to-3-25rem {
  font-size: $custom-fs-1-5rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-3-25rem;
  }
}

.fs-2rem-to-3rem {
  font-size: $custom-fs-2rem;

  @include media-breakpoint-up("md") {
    font-size: $custom-fs-3rem;
  }
}

// Fonts

.main-font {
  font-family: "Roboto Mono", monospace;
  color: $main-gray-font;
}
.secondary-font {
  font-family: "Yesteryear", cursive;
}

body {
  background-color: $main-dark-gray;
}

.yellow-font {
  color: $main-yellow;
}

// Navigation

.offcanvas-header .btn-close {
  background-color: $main-yellow !important;
}

.z-index-negative {
  z-index: -1;
}

.header-logo,
.nav-bars-button {
  z-index: 1;
}

.main-navigation a:hover {
  color: $main-yellow;
}

// footer

.footer-link {
  color: $main-gray-font;
}

.footer-link:hover {
  color: $main-yellow;
  font-weight: 600;
}

// Frontpage

.portrait-img {
  height: 210px;
  width: 210px;
  object-fit: cover;
  border-radius: 100px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid $main-yellow;
}

.yellow-frontpage {
  height: 260px;
}

// Resume section

.resume-tile {
  background: $main-yellow;
  border-radius: 25px;
  padding-left: 1rem;
}

.resume-icon {
  height: 30px;
  width: 30px;
}

.skills-tile {
  border: 2px solid $main-yellow;
  border-radius: 25px;
  width: 87px;
  height: 89px;
}

.skill-icon {
  height: 30px;
  width: 30px;
}

// Projects section

.project-tile {
  border: 3px solid $main-yellow;
  border-radius: 25px;
}

.project-tile-icon {
  background-color: $main-yellow;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 50px;
  height: 34px;
  width: 34px;
}

.project-tile-icon:hover {
  background-color: white;
}

// Services section

.services-tile {
  background: $main-yellow;
  border-radius: 25px;
  padding: 5px 15px;
  height: 89px;
  width: 105px;
}

.services-icon {
  height: 30px;
  width: 30px;
}

// Contact section - form

.contact-input {
  border: 2px solid $main-yellow;
  border-radius: 15px;
  text-indent: 10px;
  padding: 10px 0;
  margin: 5px 0;
  background: $main-dark-gray;
  color: $main-gray-font;
}

.contact-input::placeholder {
  color: $main-gray-font;
  opacity: 0.7;
}

// Margins and paddings

.pt-100px {
  padding-top: 100px;
}

.height100vh {
  height: 100vh;
}

.navMargin {
  margin-top: -100px;
}

// Buttons

.yellow-and-dark-btn {
  border-radius: 50px;
  border: 2px solid $main-yellow;
  padding: 5px 30px;
  background: transparent;
  width: 200px;
}

.yellow-and-dark-btn:hover {
  border: 2px solid white;
}

.contact-submit-button {
  background: $main-yellow;
  border-radius: 15px;
  padding: 7px 0;
  color: $main-dark-gray;
}

.contact-bubble-icon {
  background: $main-yellow;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
}

.contact-bubble a {
  color: $main-gray-font;
}

// Borders

.section-border {
  border-top: 3px dashed $main-yellow;
  margin-top: 4rem;
}

// Utilities

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .neg-margin-1rem {
    margin: 0 -1rem;
  }
  .services-tile {
    padding: 5px 15px;
    height: 130px;
    width: 160px;
  }

  .services-icon {
    height: 60px;
    width: 60px;
  }
}

@media screen and (min-width: 992px) {
  .navMargin {
    margin-top: -100px;
  }
  .yellow-frontpage {
    height: 100vh;
  }
  .portrait-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 500px;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    border: 5px solid $main-dark-gray;
  }
  .frontpage-text-container {
    padding-left: 150px;
  }
  .section-border {
    border-top: 5px dashed $main-yellow;
  }
  .resume-icon {
    height: 57px;
    width: 57px;
  }
  .skills-tile {
    width: 131px;
    height: 138px;
  }
  .project-tile-icon {
    height: 48px;
    width: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .portrait-img {
    height: 350px;
    width: 350px;
  }
  .frontpage-text-container {
    padding-left: 50px;
  }
  .skill-icon {
    height: 65px;
    width: 65px;
  }
}

@media screen and (min-width: 1400px) {
  .portrait-img {
    height: 450px;
    width: 450px;
  }
  .frontpage-text-container {
    padding-left: 0px;
  }
}
